<h1>EDIT STORIES</h1>

<form action="/student/story/<%= story.id %>?_method=PUT" method="POST">
    <div>
        <label for="name">Description</label>
        
        <textarea 
        id="description" 
        name="description"
        placeholder="enter descriptions" 
        required
      ><%=story.description%></textarea> 

       
    </div>
    <a href="/student/story/<%= story.id %>">CANCEL</a>
    <button type="submit">Save</button>
</form>
  