<h1>WELCOME STUDENT</h1>
<h1>Hi <%= user.name %></h1>
<form action="/signout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<a href="/student/story">view stories</a>
<br>
<br>
<br>
<a href="/student/story/add">add stories</a>